<template>
    <div>
        <div class="ui field">
            <select class="ui dropdown mt-1 w-100" id="charts_drop" v-on:change="change" v-model="airport">
                <option v-if="airports.length == 0" value="-1">Loading...</option>
                <option v-else value="0">Select Airport</option>
                <option v-for="airport in airports" :value="airport.id">{{ airport.icao }} - {{ airport.name }}</option>
            </select>
        </div>
        <table class="ui celled table">
            <thead>
            <tr>
                <th>Available Charts</th>
            </tr>
            </thead>
            <tbody>
            <tr v-if="loadCharts">
                <td>Loading...</td>
            </tr>
            <tr v-if="this.charts.ENRT.length > 0">
                <td><strong>Enroute Charts</strong></td>
            </tr>
            <tr v-for="chart in this.charts.ENRT">
                <td><a :href="chart.url" target="_blank">{{ chart.name }}</a></td>
            </tr>
            <tr v-if="this.charts.AD.length > 0">
                <td><strong>Airport Diagrams</strong></td>
            </tr>
            <tr v-for="chart in this.charts.AD">
                <td><a :href="chart.url" target="_blank">{{ chart.name }}</a></td>
            </tr>
            <tr v-if="this.charts.SID.length > 0">
                <td><strong>Standard Instrument Departures</strong></td>
            </tr>
            <tr v-for="chart in this.charts.SID">
                <td><a :href="chart.url" target="_blank">{{ chart.name }}</a></td>
            </tr>
            <tr v-if="this.charts.STAR.length > 0">
                <td><strong>Standard Arrivals</strong></td>
            </tr>
            <tr v-for="chart in this.charts.STAR">
                <td><a :href="chart.url" target="_blank">{{ chart.name }}</a></td>
            </tr>
            <tr v-if="this.totalCharts === 0 && !loadCharts">
                <td>No available charts.</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    let globals = require('../globals').default;
    let $ = require('jquery');
    export default {
        name: "ChartView",
        data: () => {
            return {
                airports: [],
                airport: -1,
                charts: {"ENRT": [], "AD": [], "SID": [], "STAR": []},
                loadCharts: false
            };
        },
        computed: {
            totalCharts() {
                return this.charts.ENRT.length + this.charts.AD.length + this.charts.SID.length + this.charts.STAR.length;
            }
        },
        mounted() {
            fetch('/api/airports?api_token=' + globals.api_key).then(e => e.json()).then(e => {
                this.airports = e;
                this.airport = 0;
                //this.change();
            });
            $("#charts_drop").dropdown();
        },
        methods: {
            change() {
                this.charts = {"ENRT": [], "AD": [], "SID": [], "STAR": []};
                if(this.airport == 0) {
                    return;
                }
                this.loadCharts = true;
                fetch('/api/charts/' + encodeURIComponent(this.airport) + "?api_token=" + globals.api_key).then(e => e.json()).then(e => {
                    this.charts.ENRT = e.filter(e => e.type === "ENRT");
                    this.charts.AD = e.filter(e => e.type === "AD");
                    this.charts.SID = e.filter(e => e.type === "SID");
                    this.charts.STAR = e.filter(e => e.type === "STAR");
                    this.loadCharts = false;
                });
            }
        }
    }
</script>

<style scoped>
    .w-100 {
        width: 100%;
    }
</style>
