<template>
    <div class="mt-1">
        <div class="ui segment chat" ref="seg">
            <div v-for="m in messages" class="mt-1 mb-1">
                <div v-if="messages.indexOf(m) === 0 || new Date(messages[messages.indexOf(m)-1].created_at).getDate() !== new Date(m.created_at).getDate()" class="ui horizontal divider">
                    {{ new Date(m.created_at).toDateString() }}
                </div>
                <strong>({{ dateFormat(new Date(m.created_at)) }}) {{ m.user_name.split('#')[0] }}</strong>: {{ m.message }}
            </div>
        </div>
        <form class="ui form" v-on:submit="send">
            <div :class="'ui field'">
                <div :class="'ui left icon input' + (sending ? ' loading' : '')">
                    <i class="pencil alternate icon"></i>
                    <input type="text" class="w-100" placeholder="Send Message" ref="inp" :readonly="sending" />
                </div>

            </div>
        </form>
    </div>
</template>

<script>
    let globals = require('../globals').default;
    export default {
        name: "Chat",
        props: ['messages'],
        mounted() {
            let seg = this.$refs.seg;
            seg.scrollTop = seg.scrollHeight;
            this.$refs.inp.focus();
        },
        updated() {
            let seg = this.$refs.seg;
            let btm = seg.scrollHeight - 300;
            if(btm - seg.scrollTop < 100) seg.scrollTop = seg.scrollHeight;
        },
        data: () => {
            return {
                sending: false
            }
        },
        methods: {
            dateFormat(d) {
                let h = d.getHours();
                if(h < 10) h = "0" + h;
                let m = d.getMinutes();
                if(m < 10) m = "0" + m;
                return h + ":" + m;
            },
            send(e) {
                e.preventDefault();
                if(this.$refs.inp.value.length > 200) return alert("Message may not be greater than 200 characters.");
                this.sending = true;
                fetch("/api/messages?api_token=" + encodeURIComponent(globals.api_key), {
                    method: 'POST',
                    body: JSON.stringify({message: this.$refs.inp.value}),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                }).then(e => {
                    this.sending = false;
                    this.$refs.inp.value = "";
                    this.$refs.inp.focus();
                })
            }
        }
    }
</script>

<style scoped>
    .chat {
        height: 300px;
        overflow-y: scroll;
        word-wrap: break-word;
    }
</style>
