<template>
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Controller</th>
            <th>Station</th>
            <th>Frequency</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="c in controllers">
            <td>{{ c.name }}</td>
            <td>{{ c.station_name }}</td>
            <td>{{ c.frequency }}</td>
        </tr>
        </tbody>
    </table>
</template>

<script>
    export default {
        name: "ControllerList",
        props: ['controllers']
    }
</script>

<style scoped>

</style>
