<template>
    <div class="ui grid" :style="(disable || handoff ? 'background-color: gray;' : '') + (!this.flight.ifr && !(disable || handoff) ? 'background-color: #f2f2f2;' : '')">
        <div class="two wide column b">
            <p>{{ flight.callsign }} <span style="float: right;">{{ flight.revision }}</span></p>
            {{ flight.aircraft_type }}/L
            <br />T{{ flight.true_airspeed }}
            <br />{{ flight.id }}
        </div>
        <div class="one wide column b strip">
            <button class="ui icon tiny red button" v-bind:disabled="disable || handoff" v-on:click="deleteStrip"><i class="close icon"></i></button>
        </div>
        <div class="five wide column b" style="padding: 0;">
            <table style="width: 100%" class="strip">
                <tbody>
                <tr>
                    <td colspan="2" style="height: 100px;border-bottom: 1px solid black;">
                        <textarea style="height: 100%; width: 100%; resize: none;" v-model="flight.notes" placeholder="Notes" v-bind:disabled="disable || handoff" v-on:blur="changeNotes" />
                    </td>
                </tr>
                <tr>
                    <td style="border-right: 1px solid black;">
                        {{ flight.origin }}
                    </td>
                    <td>
                        {{ flight.destination }}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="border-top: 1px solid black;">
                        {{ flight.departure_time }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="two wide column b strip">
            <p><input type="number" class="w-100" v-bind:disabled="disable || handoff" v-model="flight.assigned_altitude" v-on:blur="changeAssigned" placeholder="Assigned Altitude" /></p>
            <p><input type="number" class="w-100" v-bind:disabled="disable || handoff" v-model="flight.altitude" v-on:blur="changeRequested" /></p>
        </div>
        <div class="one wide column b">
            <button v-bind:disabled="disable || handoff" v-on:click="initiateHandoff" class="ui small icon blue button">
                <i class="arrow right icon"></i>
            </button>
            <button v-if="handoff" v-on:click="cancelHandoff" class="ui small icon red button mt-2">
                <i class="close icon"></i>
            </button>
        </div>
        <div class="three wide column b">
            <textarea class="w-100" v-bind:disabled="disable || handoff" style="height: 50%; resize: none;" v-model="flight.routing" v-on:blur="changeRoute()"></textarea>
            <textarea class="w-100" v-bind:disabled="disable || handoff" style="height: 50%; resize: none;" v-model="flight.remarks" readonly placeholder="Remarks"></textarea>
        </div>
        <div class="two wide column b strip">
            <p><input type="number" v-bind:disabled="disable || handoff" class="w-100" v-model="flight.beacon_code" v-on:blur="changeBeacon" placeholder="Beacon Code" /></p>
            <p>{{ flight.current_station }}</p>
        </div>
    </div>
</template>

<script>
    let globals = require('../globals').default;
    export default {
        name: "FlightStrip",
        props: ['flight'],
        data: () => {
            return {
                disable: false,
            };
        },
        computed: {
            handoff() {
                return this.flight.pending_handoff != null;
            }
        },
        methods: {
            modifyStrip(data) {
                fetch("/api/flights/" + encodeURIComponent(this.flight.id) + "?api_token=" + encodeURIComponent(globals.api_key), {
                    method: "PATCH",
                    body: JSON.stringify(data),
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(e => {
                    if(e.status == 200) {
                        return;
                    }
                    e.json().then(e => {
                        let build = "["+this.flight.callsign + "] Data save failed. Errors:\n";
                        Object.keys(e.errors).forEach(ee => {
                            build += "\n"+ee + ": " + e.errors[ee]
                        });
                        alert(build);
                        Object.assign(this.flight, e.flight);
                    });
                });
            },
            changeAssigned() {
                this.modifyStrip({assigned_altitude: this.flight.assigned_altitude});
            },
            changeRequested() {
                this.modifyStrip({altitude: this.flight.altitude});
            },
            changeBeacon() {
                this.modifyStrip({beacon_code: this.flight.beacon_code});
            },
            changeRoute() {
                this.modifyStrip({routing: this.flight.routing});
            },
            changeNotes() {
                this.modifyStrip({notes: this.flight.notes});
            },
            deleteStrip() {
                let go = confirm("Delete this strip? Strips can be recovered at any time.\n\n" + this.flight.callsign + " // " + this.flight.type);
                if(!go) return;
                this.disable = true;
                fetch("/api/flights/" + encodeURIComponent(this.flight.id) + "?api_token=" + encodeURIComponent(globals.api_key), {
                    method: "DELETE",
                }).then(e => {
                    if(e.status != 204) this.disable = false;
                })
            },
            initiateHandoff() {
                let res = prompt("Type the new station identifier or press cancel. (Example: LSX_TWR)");
                if(!res) return;
                this.disable = true;
                fetch("/api/flights/" + encodeURIComponent(this.flight.id) + "/handoff?api_token=" + encodeURIComponent(globals.api_key), {
                    method: "POST",
                    body: JSON.stringify({new_station: res}),
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(e => {
                    this.disable = false;
                    if(e.status != 204) {
                        return;
                    }
                    //this.handoff = true;
                });
            },
            cancelHandoff() {
                fetch("/api/flights/" + encodeURIComponent(this.flight.id) + "/handoff/cancel?api_token=" + encodeURIComponent(globals.api_key), {
                    method: "POST"
                }).then(e => {
                    if(e.status != 204) return;
                    //this.handoff = false;
                    this.disable = false;
                })
            }
        }
    }
</script>

<style scoped>
    .strip {
        text-align: center;
    }
</style>
