<template>
    <div class="ui grid" style="background-color: black;color: white;">
        <div class="four wide column b">
            <strong>Incoming Handoff: </strong> {{ flight.callsign }}
            <br /><strong>Current Station:</strong> {{ flight.current_station }}
        </div>
        <div class="four wide column b">
            {{ flight.origin }}
        </div>
        <div class="four wide column b">
            {{ flight.dest }}
        </div>
        <div class="four wide column b">
            <button class="ui tiny button" v-on:click="acceptHandoff">Accept Handoff</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "PendingHandoff",
        props: ['flight'],
        methods: {
            acceptHandoff() {
                fetch("/api/flights/" + encodeURIComponent(this.flight.id) + "/handoff/accept?api_token=" + encodeURIComponent(globals.api_key), {
                    method: "POST"
                }).then(e => {
                    if(e.status != 204) alert("Handoff failed.");
                })
            }
        }
    }
</script>

<style scoped>
    .b {
        border: 1px solid white;
    }
</style>
