<template>
    <div class="mt-2">
        <strong>Shared Scratchpad</strong>
        <textarea :readonly="!owned" v-model="sdata.contents" ref="sharedpad" v-on:blur="save"></textarea>
        <div v-if="!locked">
            <span class="green text"><i class="lock open icon"></i> Scratchpad unlocked</span>
            <button style="float: right;" :class="'ui tiny blue icon button' + (locking ? ' loading ' : '')" v-on:click="edit"><i class="edit icon"></i></button>
        </div>
        <div v-if="locked && !owned">
            <span class="red text"><i class="lock closed icon"></i> Scratchpad locked to {{ this.owner }}</span>
        </div>
        <div v-if="locked && owned">
            <span class="orange text"><i class="lock closed icon"></i> Scratchpad locked to you</span>
        </div>
        <div class="mt-2"></div>
        <strong>Personal Scratchpad</strong>
        <textarea v-model="personal_contents" v-on:blur="savePersonal()"></textarea>
    </div>
</template>

<script>
    let globals = require('../globals').default;
    export default {
        name: "Scratchpad",
        props: ['sdata'],
        data: () => {
            return {
                personal_contents: "",
                locking: false
            }
        },
        mounted() {
            if(localStorage.personalPad !== undefined)
                this.personal_contents = localStorage.personalPad;
        },
        computed: {
            locked() {
                return this.sdata.owner_id != null;
            },
            owned() {
                return this.sdata.owner_id == globals.user.id;
            },
            owner() {
                return this.sdata.owner_name;
            }
        },
        methods: {
            edit() {
                this.locking = true;
                fetch('/api/scratchpad/lock?api_token=' + encodeURIComponent(globals.api_key), {
                    method: 'POST'
                }).then(e => {
                    this.locking = false;
                    if(e.status != 204) {
                        alert("Unable to unlock scratchpad.");
                        return;
                    }
                    this.$refs.sharedpad.focus();
                    setTimeout(() => {
                        console.log(this.$refs);

                    }, 500);
                });
            },
            save() {
                if(!this.owned) return;
                fetch('/api/scratchpad?api_token=' + encodeURIComponent(globals.api_key), {
                    method: 'PATCH',
                    body: JSON.stringify({contents: this.sdata.contents}),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            },
            savePersonal() {
                localStorage.personalPad = this.personal_contents;
            }
        }
    }
</script>

<style scoped>
    textarea {
        width: 100%;
        height: 250px;
        resize: none;
    }
    .green.text {
        color: #016936;
    }
    .red.text {
        color: #ff0000;
    }
    .orange.text {
        color: #f26202;
    }
</style>
