<template>
    <div style="height: 100%;">
        <div class="ui grid" style="height: 100%;">
            <div class="twelve wide column stripdeck">
                <div id="pad">
                    <FlightStrip v-for="strip in strips" v-if="shouldShowStrip(strip.current_station) && strip.active" v-bind:key="strip.id" v-bind:flight="strip" />
                    <PendingHandoff v-for="strip in strips" v-if="shouldShowStrip(strip.pending_handoff) && strip.active" v-bind:key="strip.id + 'h'" v-bind:flight="strip" />
                </div>
            </div>
            <div class="four wide column infodeck">
                <div class="ui field mt-1">
                    <select class="ui select w-100" v-model="infoDisplay">
                        <option value="online">Online Controllers</option>
                        <option value="lookup">Lookup Strip</option>
                        <option value="scratchpad">Scratchpad</option>
                        <option value="charts">Charts</option>
                        <option value="vfr">Create VFR Strip</option>
                        <option value="chat">Controller Chatroom</option>
                        <option value="end">End Session</option>
                    </select>
                </div>
                <ControllerList v-if="infoDisplay === 'online'" v-bind:controllers="controllers" />
                <StripLookup v-if="infoDisplay === 'lookup'" />
                <Scratchpad v-if="infoDisplay === 'scratchpad'" :sdata="scratchpad" />
                <ChartView v-if="infoDisplay === 'charts'" />
                <VFRGen v-if="infoDisplay === 'vfr'" />
                <Chat v-if="infoDisplay === 'chat'" :messages="messages" />
                <div v-if="infoDisplay === 'end'">
                    <div class="mt-1">
                        <h1>Ending Session</h1>
                        <p>You are about to end your controller sesion. You will be returned to the ATC dashboard.</p>
                        <a href="/atc" class="ui red button">End Session</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let globals = require('../globals').default;
    let swal = require('sweetalert2');
    export default {
        name: "StripsApp",
        data: () => {
            return {
                infoDisplay: "online",
                strips: [],
                pendingHandoffs: [],
                user: globals.user,
                controllers: [],
                scratchpad: {},
                messages: []
            }
        },
        mounted() {
            let $ = require('jquery');
            $(".ui.select").dropdown();
            fetch('/api/flights?api_token=' + encodeURIComponent(globals.api_key)).then(e => e.json()).then(e => {
                this.strips = e
            });
            fetch('/api/scratchpad?api_token=' + encodeURIComponent(globals.api_key)).then(e => e.json()).then(e => {
                this.scratchpad = e;
            });
            fetch('/api/messages?api_token=' + encodeURIComponent(globals.api_key)).then(e => e.json()).then(e => {
                this.messages = e.messages;
            });
            console.log(globals.pusher_channel.members);
            globals.pusher_channel.members.each((e) => {
                this.controllers.push(e.info);
            });
            globals.pusher_channel.bind('pusher:member_added', (member) => {
                this.controllers.push(member.info);
            });
            globals.pusher_channel.bind('pusher:member_removed', (member) => {
                for(let i = 0;i<this.controllers.length;i++) {
                    if(this.controllers[i].id == member.id) this.controllers.splice(i, 1);
                }
            });
            globals.pusher_channel.bind('flight.created', (data) => {
                let flight = data.flight;
                this.strips.push(flight);
            });
            globals.pusher_channel.bind('flight.updated', (data) => {
                for(let flight in this.strips) {
                    if(this.strips[flight].id == data.flight.id) Object.assign(this.strips[flight], data.flight);
                }
            });
            globals.pusher_channel.bind('flight.deleted', (data) => {
                for(let i = 0;i<this.strips.length;i++) {
                    if(this.strips[i].id == data.flight.id) this.strips.splice(i, 1);
                }
            });
            globals.pusher_channel.bind('handoff.request', (data) => {
                if(this.shouldShowStrip(data.flight.pending_handoff)) {
                    globals.sounds.handoffAccept.play();
                }
            });
            globals.pusher_channel.bind('scratchpad.update', (data) => {
                Object.assign(this.scratchpad, data.scratchpad);
            });
            globals.message_channel.bind('post', (data) => {
                this.messages.push(data.message);
                if(this.infoDisplay !== "chat") {
                    swal.fire({
                        toast: true,
                        titleText: data.message.user_name,
                        text: data.message.message,
                        position: "top-left",
                        confirmButtonText: "X"
                    });
                    globals.sounds.message.play();
                }
            });
        },
        methods: {
            shouldShowStrip(target) {
                //console.log(globals.pusher_channel.members.me.info.st_name);
                //debugger;
                let me = globals.pusher_channel.members.me.info.station_name;
                let res =  globals.shouldShowStrip(target, me, this.controllers);
                //debugger;
                return res;
            }
        }
    }
</script>

<style scoped>
    #pad {
        padding: 1.5em;
    }
</style>
