<template>
    <div>
        <form class="ui form" style="margin-top: 10px" v-on:submit="startLookup">
            <div class="ui field">
                <div :class="'ui icon input' +  (load ? ' loading' : '')">
                    <input type="text" placeholder="Callsign" v-model="callsign" :disabled="load" />
                    <i class="search icon"></i>
                </div>
            </div>
        </form>
        <table class="ui celled table mt-2" v-if="results !== null">
            <thead>
                <tr>
                    <th>Callsign</th>
                    <th>Last Updated</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-if="results.length == 0">
                    <td colspan="3">No results.</td>
                </tr>
                <tr v-for="result in results">
                    <td>{{ result.callsign }}</td>
                    <td>{{ humanDiff(result.updated_at) }}</td>
                    <td v-if="result.deleted_at === null">
                        <button class="ui tiny red button w-100" v-on:click="() => claim(result.id)">Claim from {{ result.current_station }}</button>
                    </td>
                    <td v-else>
                        <button class="ui tiny green button w-100" v-on:click="() => recover(result.id)">Restore</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    let globals = require('../globals').default;
    let moment = require('moment');
    export default {
        name: "StripLookup",
        data: () => {
            return {
                callsign: '',
                load: false,
                results: null
            }
        },
        methods: {
            startLookup(e) {
                e.preventDefault();
                this.load = true;
                fetch('/api/search/flights?query=' + encodeURIComponent(this.callsign) + "&api_token=" + encodeURIComponent(globals.api_key)).then(e => {
                    this.load = false;
                    if(e.status != 200) {
                        alert("There was a problem processing your request. Ensure the entered callsign is less than 10 characters.");
                        return;
                    }
                    e.json().then(e => {
                        this.results = e.flights;
                    });
                });
            },
            humanDiff(date) {
                return moment(date).fromNow();
            },
            claim(id) {
                let c = confirm("!! WARNING !!\n\nThis feature is intended for flight strips that are not controlled. If the strip is controlled, you should ask the controller to properly transfer the flight strip.\n\nThis action is flagged and disciplinary action can follow if improperly used. Do you want to continue?");
                if(!c) return;
                fetch('/api/flights/' + encodeURIComponent(id) + "/claim?api_token=" + encodeURIComponent(globals.api_key), {
                    method: 'POST'
                });
            },
            recover(id) {
                fetch('/api/flights/' + encodeURIComponent(id) + "/restore?api_token=" + encodeURIComponent(globals.api_key), {
                    method: 'POST'
                });
            }
        }
    }
</script>

<style scoped>

</style>
