<template>
    <form class="ui form mt-1">
        <div class="field">
            <label for="callsign">Callsign</label>
            <input type="text" id="callsign" v-model="callsign" :disabled="load" />
        </div>
        <div class="field">
            <label for="type">Aircraft Type</label>
            <input type="text" id="type" maxlength="4" v-model="actype" :disabled="load" />
        </div>
        <button :class="'ui blue button w-100' + (load ? ' loading' : '')" v-on:click="sub">Generate Strip</button>
    </form>
</template>

<script>
    let globals = require('../globals').default;
    export default {
        name: "VFRGen",
        data: () => {
            return {
                callsign: "",
                actype: "",
                load: false
            }
        },
        methods: {
            sub(e) {
                e.preventDefault();
                this.load = true;
                fetch('/api/flights?api_token=' + encodeURIComponent(globals.api_key), {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({callsign: this.callsign, type: this.actype})
                }).then(e => {
                    this.load = false;
                    if(e.status != 201) {
                        e.json().then(ee => {
                            let builder = "VFR Gen failed. The following errors were reported:\n";
                            Object.keys(ee.errors).forEach(e => {
                                e = ee.errors[e];
                                builder += "\n" + e;
                            });
                            alert(builder);
                        });
                        return;
                    }
                    this.callsign = "";
                    this.actype = "";
                });
            }
        }
    }
</script>

<style scoped>

</style>
