@import '~bulma/bulma';

.mt-5 {
    margin-top: 5em;
}
.mt-4 {
    margin-top: 4em;
}
.mt-3 {
    margin-top: 3em;
}
.mt-2 {
    margin-top: 2em;
}
.mt-1 {
    margin-top: 1em;
}
.mt-0 {
    margin-top: 0;
}

.ml-5 {
    margin-left: 5em;
}
.ml-4 {
    margin-left: 4em;
}
.ml-3 {
    margin-left: 3em;
}
.ml-2 {
    margin-left: 2em;
}
.ml-1 {
    margin-left: 1em;
}
.ml-0 {
    margin-left: 0;
}

.mb-5 {
    margin-bottom: 5em;
}
.mb-4 {
    margin-bottom: 4em;
}
.mb-3 {
    margin-bottom: 3em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mb-1 {
    margin-bottom: 1em;
}

.pt-5 {
    padding-top: 5em;
}
.pt-4 {
    padding-top: 4em;
}
.pt-3 {
    padding-top: 3em;
}
.pt-2 {
    padding-top: 2em;
}
.pt-1 {
    padding-top: 1em;
}
.pt-0 {
    padding-top: 0;
}

.pb-5 {
    padding-bottom: 5em;
}
.pb-4 {
    padding-bottom: 4em;
}
.pb-3 {
    padding-bottom: 3em;
}
.pb-2 {
    padding-bottom: 2em;
}
.pb-1 {
    padding-bottom: 1em;
}

.w-100 {
    width: 100%;
}
