@import '../semantic/semantic.css';

html, body, #app {
    width: 100%;
    height: 100%;
}

.w-100 {
    width: 100%;
}

.b {
    border: 1px solid black;
}

.stripdeck {
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid black;
}

.infodeck {
    height: 100%;
    overflow-y: scroll;
}

.mt-5 {
    margin-top: 5em;
}
.mt-4 {
    margin-top: 4em;
}
.mt-3 {
    margin-top: 3em;
}
.mt-2 {
    margin-top: 2em;
}
.mt-1 {
    margin-top: 1em;
}

.mb-5 {
    margin-bottom: 5em;
}
.mb-4 {
    margin-bottom: 4em;
}
.mb-3 {
    margin-bottom: 3em;
}
.mb-2 {
    margin-bottom: 2em;
}
.mb-1 {
    margin-bottom: 1em;
}

.pt-5 {
    padding-top: 5em;
}
.pt-4 {
    padding-top: 4em;
}
.pt-3 {
    padding-top: 3em;
}
.pt-2 {
    padding-top: 2em;
}
.pt-1 {
    padding-top: 1em;
}

.pb-5 {
    padding-bottom: 5em;
}
.pb-4 {
    padding-bottom: 4em;
}
.pb-3 {
    padding-bottom: 3em;
}
.pb-2 {
    padding-bottom: 2em;
}
.pb-1 {
    padding-bottom: 1em;
}
