<template>
    <ul class="menu-list">
        <li v-for="f in this.list" :key="f.id"><a>{{ f.name }}: {{ f.frequency }}</a></li>
        <li v-if="this.list.length === 0"><a>No online controllers.</a></li>
    </ul>
</template>

<script>
    export default {
        name: "ControllerList",
        mounted() {
            this.updateList();
            this.iid = setInterval(this.updateList, 60000);
        },
        beforeDestroy() {
            clearInterval(this.iid);
        },
        data: () => {
            return {
                list: [],
                iid: -1
            };
        },
        methods: {
            updateList() {
                fetch('/api/controllers').then(e => e.json()).then(e => {
                    this.list = e;
                });
            }
        }
    }
</script>

<style scoped>

</style>
