<template>
    <div>
        <div class="box">
            <table class="table w-100">
                <thead>
                    <tr>
                        <th>Callsign</th>
                        <th>Aircraft Type</th>
                        <th>O/D/A</th>
                        <th>Cruise</th>
                        <th>Route</th>
                        <th>Remarks</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <Flight v-for="f in flights" :flight="f" :key="f.id" />
                    <tr v-if="flights.length == 0 && !load">
                        <td colspan="7">No active flights.</td>
                    </tr>
                    <tr v-else-if="flights.length == 0 && load">
                        <td colspan="7">Loading data.. this could take up to five seconds</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</template>

<script>
    let globals = require('../globals');
    export default {
        name: "ActiveApp",
        data: () => {
            return {
                flights: [],
                load: true
            };
        },
        mounted() {
            fetch('/api/flights?api_token=' + encodeURIComponent(globals.apiToken)).then(e => e.json()).then(e => {
                this.flights = e;
                this.load = false;
            });
            globals.pusherChannel.bind('flight.created', (e) => {
                this.flights.push(e.flight);
            });
            globals.pusherChannel.bind('flight.updated', (e) => {
                let f = this.flights.find((i) => i.id == e.flight.id);
                Object.assign(f, e);
            });
            globals.pusherChannel.bind('flight.deleted', (e) => {
                let f = this.flights.find((i) => i.id == e.flight.id);
                let i = this.flights.indexOf(f);
                this.flights.splice(i, 1);
            });
        }
    }
</script>

<style scoped>

</style>
