<template>
    <tr>
        <td>{{ flight.callsign }}<br />{{ (flight.pilot_id) }}/{{ flight.id }}</td>
        <td>{{ flight.aircraft_type }}</td>
        <td>{{ flight.origin }}<br/>{{ flight.destination}}{{ flight.alternative == null ? '' : '/' + flight.alternative}}</td>
        <td>{{ flight.altitude }}ft @ {{ flight.true_airspeed }}kts</td>
        <td>{{ flight.routing}}</td>
        <td>{{ flight.remarks}}</td>
        <td><button class="button is-danger is-small" v-on:click="end" :disabled="deleting">End</button></td>
    </tr>
</template>

<script>
    let globals = require('../globals');
    export default {
        name: "Flight",
        props: ['flight'],
        data: () => {
            return {
                deleting: false
            };
        },
        methods: {
            end() {
                let c = confirm("This will end the flight. Flights cannot be restored once ended. Are you sure you want to continue?");
                if(!c) return;
                this.deleting = true;
                fetch('/api/flights/' + encodeURIComponent(this.flight.id) + '?api_token=' + encodeURIComponent(globals.apiToken), {
                    method: 'DELETE'
                });
            }
        }
    }
</script>

<style scoped>

</style>
